<% layout('layouts/boilerplate') %>

<section class="container-fluid px-0 content">
    <div class="row align-items-center">
        <h1 class="text-center">Latest Updates - Automatically retrieves the latest updates from certain games</h1>
    </div>
</section>

<section class="container-fluid game-listing">
    <h2>Team Fortress 2 - <%= tf2Summary.title %></h2>
    <div class="row align-items-left">
        <div class="col-xl-4 order-xl-1">
            <img src = '<%= tf2Image %>' onerror="this.src='https://clan.cloudflare.steamstatic.com/images//554111/640c6b1fb73cd851051dbecc54df1ec8c49aa454.png'" class="preview">
        </div>
        <div class="col-xl-8 order-xl-2">
            <p class="news-update"><%= tf2Info %></p>
        </div>
    </div>
</section>

<section class="container-fluid game-listing">
    <h2>Monster Hunter Rise - <%= mhrSummary.title %></h2>
    <div class="row align-items-left">
        <div class="col-xl-4 order-xl-1">
            <img src = '<%= mhrImage %>' onerror="this.src='https://clan.cloudflare.steamstatic.com/images//41286238/5dd0eab13f567869fefbada17e0df0301b48addf.jpg'" class="preview">
        </div>
        <div class="col-xl-8 order-xl-2">
            <p class="news-update"><%= mhrInfo %></p>
        </div>
    </div>
</section>